# Этот файл содержит список всех зависимостей, необходимых для проекта. Он упрощает установку необходимых модулей с помощью pip.

# Модули для работы с Telegram-ботом
python-telegram-bot==21.0.1

# Модули для работы с базой данных
PyMySQL==1.1.0

# Модули для парсинга данных о фильмах
requests==2.31.0
beautifulsoup4==4.12.3

# Модули для вспомогательных функций
python-dotenv==1.0.1